// Fonts
$ff-main: "helvetica-neue-regular";
$ff-main-bold: "helvetica-neue-bold";
$ff-main-light: "helvetica-neue-light";
$ff-steps: "georgia-bold";


// Heder
$colorContact: #424242;
$colorHeaderTopBg: #f0f2f4;
$colorHeaderTopBorder: #e2e2e2;
$amount: 20%;
$colorBgFb: #1287bf;
$colorActive: #de2b24;






