html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h1, h2 {
    font-size: 2.2rem;
    line-height: 3.4rem;
    margin: 0;
    padding: 2rem;
}

.header, .nav {
    background-color: #FD739C;
    color: #fff;
}


