header.header
	.container
		.row
			a.button.header__button.button-restaurant(href="restaurant/restaurant.html") Страница ресторанов
			a.button.header__button.button-stores(href="stores/stores.html") Страница магазинов