@import "../../node_modules/normalize.scss/normalize";
@import "../../node_modules/font-awesome/scss/font-awesome";

@import "global/fonts";
@import "global/vars";
@import "global/base";
@import "global/common";
@import "global/sprite";
@import "global/button";

@import "../blocks/start_page/start__header";
//@import "sections/nav";
//@import "sections/hero";
